* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  color: white;
  font-size: 2rem;
  background-color: rgba(224, 109, 6);
  text-transform: uppercase;
  font-family: "Just Another Hand", cursive;
}

header {
  display: flex;
  align-items: center;
  margin: 1rem;
  position: fixed;
  z-index: 1;
}

.addTaskIcon {
  color: rgba(224, 109, 6);
  font-size: 3.5rem;
  cursor: pointer;
  opacity: 80%;
  z-index: 3;
}

.addTaskIcon:hover {
  opacity: 100%;
}

.filterButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #07beb8;
  color: white;
  border-radius: 5px;
  border: none;
  font-family: "Lato", sans-serif;
}

button:hover {
  background-color: #00a6a0;
}

.activeButton {
  background-color: rgba(224, 109, 6);
  opacity: 80%;
}

.activeButton:hover {
  background-color: rgba(224, 109, 6);
  opacity: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.75rem;
  background-color: rgba(224, 109, 6, 0.98);
  color: white;
  position: fixed;
  top: 15%;
  left: 20%;
  right: 20%;
  bottom: 25%;
  z-index: 2;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
}

.form p {
  margin-bottom: 0.2rem;
}

.formInputCategory {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #07beb8;
  color: white;
  border-radius: 5px;
  border: none;
}

.formInputCategory:hover {
  background-color: #00a6a0;
}

.formText {
  font-weight: bold;
}

.formButton {
  margin-top: 0.5rem;
}

.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toDoHeading {
  padding: 1rem 2rem;
  width: 50vw;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.toDoList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  margin-top: 8rem;
  font-family: "Just Another Hand", cursive;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.taskContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  background-color: #eef4fb;
  border-radius: 5px;
  padding: 0.5rem;
}

.taskElements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  color: #07beb8;
}

.taskElementsTop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.taskValues {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.taskDescription {
  font-size: 2rem;
  color: #a0a0a0;
}

.checkBox {
  width: 25px;
  height: 25px;
  background: rebeccapurple;
}

.checkBox:hover {
  cursor: pointer;
}

.taskAmount {
  font-size: 2rem;
  color: #07beb8;
}

.delete,
.minus,
.plus {
  font-weight: bold;
  font-size: 2rem;
}

.delete:hover,
.minus:hover,
.plus:hover {
  cursor: pointer;
}

.delete {
  color: #e01a4f;
  opacity: 75%;
}

.delete:hover {
  opacity: 100%;
}

.minus:hover,
.plus:hover {
  color: #07beb8;
}

/* ANIMATIONS */

.disappear {
  animation-name: disappear;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes disappear {
  0% {
  }

  100% {
    transform: translate(300%, 0);
  }
}

/* MOBILE */

@media (max-width: 855px) {
  h2 {
    font-size: 1rem;
  }

  .addTaskIcon {
    font-size: 2.5rem;
  }
}
