* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topMenu {
  display: flex;
}

.addTaskIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #2d8fff;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
  opacity: 80%;
}

.addTaskIcon:hover {
  opacity: 100%;
}

.form {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.formInputCategory {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.formText {
  font-weight: bold;
}

.formButton {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toDoHeading {
  color: #2d8fff;
  background-color: rgb(0, 0, 0);
  padding: 1rem 2rem;
  width: 50vw;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-transform: uppercase;
}

.toDoList,
.doneList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  margin-top: 1rem;
  font-family: "Just Another Hand", cursive;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.taskContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  background-color: #eef4fb;
  border-radius: 10px;
  padding: 0.5rem;
}

.taskElements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  color: #2d8fff;
}

.taskElementsTop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.taskElementsBottom {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.taskValues {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.taskDescription {
  font-size: 2rem;
  color: #a0a0a0;
}

.checkBox {
  width: 25px;
  height: 25px;
  background: rebeccapurple;
}

.checkBox:hover {
  cursor: pointer;
}

.taskAmount {
  font-size: 2rem;
  color: #2d8fff;
}

.delete,
.minus,
.plus {
  font-weight: bold;
  font-size: 2rem;
}

.delete:hover,
.minus:hover,
.plus:hover {
  cursor: pointer;
}

.delete {
  color: #e01a4f;
  opacity: 80%;
}

.delete:hover {
  opacity: 100%;
}

.minus:hover,
.plus:hover {
  color: #2d8fff;
}
